@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc; /* Surface Page (Light) */
  color: #0f172a; /* Text Primary (Dark) */
  overflow-x: hidden;
}

/* Hide scrollbar functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
