@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
  /* Surface Page (Light) */
  color: #0f172a;
  /* Text Primary (Dark) */
  overflow-x: hidden;
}

/* Hide scrollbar functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* High Performance CSS Marquee */
@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 60s linear infinite;
  will-change: transform;
}

.animate-marquee:hover,
.animate-marquee:active,
.animate-marquee:focus {
  animation-play-state: paused;
}